.jumbotron {
    padding: 5.5rem 2rem;
    background: transparent;
}

body {
    background: transparent;
}

html {
    height: 100%;
    background: linear-gradient(to bottom, #d6d6d6 25%, #aaaaaa 100%);
    background-attachment: fixed;
}

.fab {
    color: rgba(255,255,255,.5);
}

.fab:hover {
    transition: ease-in-out .4s;
    color: rgba(255,255,255,.75);
}

a.nav-link:hover, a.nav-link:focus {
    transition: ease-in-out .4s !important;
    opacity: 1 !important;
}

.col-lg-6 {
    margin-top: 1.5rem;
}

.list-group-item-custom {
    background-color: rgba(255,255,255,.75)
}

.project-pic {
  width: 100%;
  padding-top: 1.5rem;
  border-top:1px solid rgba(0,0,0,.5);
  margin-bottom: 1.5rem;
}

@media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 43%;
    }
    .thumb-img {
      width: 50%;
      height: auto;
    }
}

@media (max-width: 767px) {
    .navbar-toggler-icon {
        width: 30px !important;
        height: 30px !important;
    }

    .nav-link h5 {
        font-size: 2em !important;
    }

    .homeHeader, .aboutHeader, .projectHeader {
        margin-top: 1rem;
    }

    .thumb-img {
      width: 100%;
      height: auto;
    }
}

.sm-margin-top {
  margin-top: 1rem;
}
